.octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-top;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

summary {
  display: list-item;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body {
  background-color: #fff;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 14px;
  line-height: 1.5;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

b,
strong {
  font-weight: 600;
}

button {
  border-radius: 0;
  cursor: pointer;
}

details summary {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-size: 32px;
}

h1,
h2 {
  font-weight: 600;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h3,
h4 {
  font-weight: 600;
}

p {
  margin-bottom: 10px;
  margin-top: 0;
}

ol,
ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.octicon {
  vertical-align: text-bottom;
}

.Box {
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}

.btn {
  -moz-appearance: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
  appearance: none;
  background-position: -1px -1px;
  background-repeat: repeat-x;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 12px;
  position: relative;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn:hover {
  background-repeat: repeat-x;
  text-decoration: none;
}

.btn:focus {
  outline: 0;
}

.btn {
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  color: #24292e;
}

.btn.hover,
.btn:hover {
  background-color: #e6ebf1;
  background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
  background-position: -0.5em;
  border-color: rgba(27, 31, 35, 0.35);
}

.btn-primary {
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
  color: #fff;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2em rgba(52, 208, 88, 0.4);
}

.btn-primary.hover,
.btn-primary:hover {
  background-color: #269f42;
  background-image: linear-gradient(-180deg, #2fcb53, #269f42 90%);
  background-position: -0.5em;
  border-color: rgba(27, 31, 35, 0.5);
}

.btn-block {
  display: block;
  text-align: center;
  width: 100%;
}

.btn-link {
  -moz-appearance: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  color: #0366d6;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  padding: 0;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
}

.btn-link:hover {
  text-decoration: underline;
}

.details-reset > summary {
  list-style: none;
}

.details-reset > summary::-webkit-details-marker {
  display: none;
}

label {
  font-weight: 600;
}

.form-control,
.form-select {
  background-color: #fff;
  background-position: right 8px center;
  background-repeat: no-repeat;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
  color: #24292e;
  font-size: 16px;
  line-height: 20px;
  min-height: 34px;
  outline: none;
  padding: 6px 8px;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .form-control,
  .form-select {
    font-size: 14px;
  }
}

::placeholder {
  color: #6a737d;
}

.input-block {
  display: block;
  width: 100%;
}

.container-lg {
  max-width: 1012px;
}

.container-lg,
.container-xl {
  margin-left: auto;
  margin-right: auto;
}

.container-xl {
  max-width: 1280px;
}

.col-3 {
  width: 25%;
}

.col-8 {
  width: 66.66667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 1012px) {
  .col-lg-3 {
    width: 25%;
  }

  .col-lg-5 {
    width: 41.66667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-9 {
    width: 75%;
  }
}

.gutter-condensed {
  margin-left: -8px;
  margin-right: -8px;
}

.gutter-condensed > [class*='col-'] {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.subnav-search {
  margin-left: 10px;
  position: relative;
}

.subnav-search-input {
  color: #586069;
  padding-left: 30px;
  width: 320px;
}

.subnav-search-icon {
  color: #c6cbd1;
  display: block;
  left: 8px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 9px;
}

.UnderlineNav {
  border-bottom: 1px solid #e1e4e8;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
}

.UnderlineNav-body {
  display: flex;
}

.UnderlineNav-item {
  border-bottom: 2px solid transparent;
  color: #586069;
  font-size: 14px;
  line-height: 1.5;
  margin-right: 16px;
  padding: 16px 8px;
  text-align: center;
}

.UnderlineNav-item:focus,
.UnderlineNav-item:hover {
  border-bottom-color: #d1d5da;
  color: #24292e;
  text-decoration: none;
  transition: 0.2s ease;
}

.UnderlineNav-item.selected {
  border-bottom-color: #e36209;
  color: #24292e;
  font-weight: 600;
}

.tooltipped {
  position: relative;
}

.tooltipped:after {
  -webkit-font-smoothing: subpixel-antialiased;
  background: #1b1f23;
  border-radius: 3px;
  color: #fff;
  content: attr(aria-label);
  display: none;
  font: normal normal 11px/1.5 -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  letter-spacing: normal;
  opacity: 0;
  padding: 0.5em 0.75em;
  pointer-events: none;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: pre;
  word-wrap: break-word;
  z-index: 1000000;
}

.tooltipped:before {
  border: 6px solid transparent;
  color: #1b1f23;
  content: '';
  display: none;
  height: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  z-index: 1000001;
}

@keyframes tooltip-appear {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.tooltipped:active:after,
.tooltipped:active:before,
.tooltipped:focus:after,
.tooltipped:focus:before,
.tooltipped:hover:after,
.tooltipped:hover:before {
  animation-delay: 0.4s;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-name: tooltip-appear;
  animation-timing-function: ease-in;
  display: inline-block;
  text-decoration: none;
}

.tooltipped-s:after,
.tooltipped-se:after,
.tooltipped-sw:after {
  margin-top: 6px;
  right: 50%;
  top: 100%;
}

.tooltipped-s:before,
.tooltipped-se:before,
.tooltipped-sw:before {
  border-bottom-color: #1b1f23;
  bottom: -7px;
  margin-right: -6px;
  right: 50%;
  top: auto;
}

.tooltipped-n:after,
.tooltipped-s:after {
  transform: translateX(50%);
}

.css-truncate.css-truncate-target,
.css-truncate .css-truncate-target {
  display: inline-block;
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}

.anim-fade-in {
  animation-duration: 1s;
  animation-name: fade-in;
  animation-timing-function: ease-in-out;
}

.anim-fade-in.fast {
  animation-duration: 0.3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.border {
  border: 1px solid #e1e4e8 !important;
}

.border-0 {
  border: 0 !important;
}

.border-top {
  border-top: 1px solid #e1e4e8 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.rounded-1 {
  border-radius: 3px !important;
}

.rounded-top-0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.rounded-bottom-1 {
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.circle {
  border-radius: 50% !important;
}

.border-gray-light {
  border-color: #eaecef !important;
}

.border-gray-dark {
  border-color: #d1d5da !important;
}

.bg-white {
  background-color: #fff !important;
}

.text-gray {
  color: #586069 !important;
}

.text-gray-dark {
  color: #24292e !important;
}

.text-white {
  color: #fff !important;
}

.link-gray {
  color: #586069 !important;
}

.link-gray:hover {
  color: #0366d6 !important;
}
.muted-link {
  color: #586069 !important;
}

.muted-link:hover {
  color: #0366d6 !important;
  text-decoration: none;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-justify-center {
  justify-content: center !important;
}

.flex-justify-between {
  justify-content: space-between !important;
}

.flex-items-end {
  align-items: flex-end !important;
}

.flex-items-center {
  align-items: center !important;
}

.flex-content-stretch {
  align-content: stretch !important;
}

.flex-auto {
  flex: 1 1 auto !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

@media (min-width: 1012px) {
  .flex-lg-row {
    flex-direction: row !important;
  }

  .flex-lg-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-lg-justify-between {
    justify-content: space-between !important;
  }

  .flex-lg-items-center {
    align-items: center !important;
  }
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.top-0 {
  top: 0 !important;
}

.right-0 {
  right: 0 !important;
}

.v-align-middle {
  vertical-align: middle !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.clearfix:before {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
  content: '';
  display: table;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

@media (min-width: 768px) {
  .float-md-left {
    float: left !important;
  }
}

.width-full {
  width: 100% !important;
}

.height-full {
  height: 100% !important;
}

.min-width-0 {
  min-width: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.mt-1 {
  margin-top: 4px !important;
}

.mr-1 {
  margin-right: 4px !important;
}

.mb-1 {
  margin-bottom: 4px !important;
}

.my-1 {
  margin-bottom: 4px !important;
  margin-top: 4px !important;
}

.mt-2 {
  margin-top: 8px !important;
}

.mr-2 {
  margin-right: 8px !important;
}

.mb-2 {
  margin-bottom: 8px !important;
}

.mr-3 {
  margin-right: 16px !important;
}

.mb-3 {
  margin-bottom: 16px !important;
}

.ml-3 {
  margin-left: 16px !important;
}

.mx-3 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.mt-4 {
  margin-top: 24px !important;
}

.mr-4 {
  margin-right: 24px !important;
}

.mb-4 {
  margin-bottom: 24px !important;
}

.mt-6 {
  margin-top: 40px !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

@media (min-width: 768px) {
  .mr-md-1 {
    margin-right: 4px !important;
  }
}

@media (min-width: 1012px) {
  .mt-lg-0 {
    margin-top: 0 !important;
  }

  .mr-lg-0 {
    margin-right: 0 !important;
  }

  .mb-lg-0 {
    margin-bottom: 0 !important;
  }

  .ml-lg-1 {
    margin-left: 4px !important;
  }

  .mr-lg-3 {
    margin-right: 16px !important;
  }
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.px-0 {
  padding-right: 0 !important;
}

.pt-1 {
  padding-top: 4px !important;
}

.pb-1 {
  padding-bottom: 4px !important;
}

.py-1 {
  padding-bottom: 4px !important;
  padding-top: 4px !important;
}

.p-2 {
  padding: 8px !important;
}

.pr-2 {
  padding-right: 8px !important;
}

.pb-2 {
  padding-bottom: 8px !important;
}

.pl-2,
.px-2 {
  padding-left: 8px !important;
}

.py-2 {
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}

.p-3 {
  padding: 16px !important;
}

.pr-3 {
  padding-right: 16px !important;
}

.pl-3,
.px-3 {
  padding-left: 16px !important;
}

.px-3 {
  padding-right: 16px !important;
}

.py-3 {
  padding-bottom: 16px !important;
  padding-top: 16px !important;
}

.p-4 {
  padding: 24px !important;
}

.pt-4 {
  padding-top: 24px !important;
}

.pb-4 {
  padding-bottom: 24px !important;
}

.pl-4,
.px-4 {
  padding-left: 24px !important;
}

.py-4 {
  padding-bottom: 24px !important;
  padding-top: 24px !important;
}

.pt-6 {
  padding-top: 40px !important;
}

.pb-6 {
  padding-bottom: 40px !important;
}

@media (min-width: 768px) {
  .pr-md-0 {
    padding-right: 0 !important;
  }

  .pl-md-0,
  .px-md-0 {
    padding-left: 0 !important;
  }

  .pl-md-2,
  .px-md-2 {
    padding-left: 8px !important;
  }

  .pt-md-3 {
    padding-top: 16px !important;
  }

  .pr-md-3 {
    padding-right: 16px !important;
  }

  .pb-md-3 {
    padding-bottom: 16px !important;
  }
}

@media (min-width: 1012px) {
  .pl-lg-0,
  .px-lg-0 {
    padding-left: 0 !important;
  }

  .px-lg-0 {
    padding-right: 0 !important;
  }

  .pt-lg-2 {
    padding-top: 8px !important;
  }
}

.p-responsive {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

@media (min-width: 544px) {
  .p-responsive {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

@media (min-width: 1012px) {
  .p-responsive {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

.h6 {
  font-size: 12px !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600 !important;
}

.f4 {
  font-size: 16px !important;
}

@media (min-width: 768px) {
  .f4 {
    font-size: 16px !important;
  }
}

.f5 {
  font-size: 14px !important;
}

.f6 {
  font-size: 12px !important;
}

.text-small {
  font-size: 12px !important;
}

.lh-condensed {
  line-height: 1.25 !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-normal {
  font-weight: 400 !important;
}

.text-bold {
  font-weight: 600 !important;
}

.no-underline {
  text-decoration: none !important;
}

.no-wrap {
  white-space: nowrap !important;
}

.ws-normal {
  white-space: normal !important;
}

.list-style-none {
  list-style: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}

@media (min-width: 1012px) {
  .d-lg-flex {
    display: flex !important;
  }

  .d-lg-inline {
    display: inline !important;
  }

  .d-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 543px) {
  .hide-sm {
    display: none !important;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .hide-md {
    display: none !important;
  }
}

.Header-old {
  background-color: #24292e;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 12px;
  padding-top: 12px;
  z-index: 32;
}

.edge-item-fix {
  list-style-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
}

.HeaderMenu-link {
  background: transparent;
  color: #fff;
  transition: 0.4s;
}

.HeaderMenu-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.HeaderMenu-summary::-webkit-details-marker {
  display: none;
}
