@import url('https://github.githubassets.com/assets/frameworks-41c2037bf12f1e46d8f08b88a04a8d8f.css');
@import url('https://github.githubassets.com/assets/github-e9f63d2ae6f069da3f43272fafc83aee.css');

[class*='js-'],
[attr*='data-pjax-'] {
  border: 1px solid red;
}

.Counter {
  margin-left: 4px;
}

.repo-language-color {
  margin-right: 3px;
}

.cv {
  width: 100%;
}

// folding icons in ContributionActivity
.profile-rollup-wrapper .d-inline-block.float-right {
  display: none !important;
}

ul.dashed {
  list-style: none;

  li {
    &:before {
      content: '- ';
    }
  }
}

.signup-prompt-bg {
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 50%, #fff),
    linear-gradient(70deg, #eaf5ff 32%, #f6fff8);
}

.signup-prompt {
  background-clip: padding-box;
  background-repeat: no-repeat;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.input-group-radio {
  label {
    background-color: #f1f8ff;
    border-radius: 5px;
    transition: 0.15s ease-in-out;
    width: 5%;
    text-align: center;
    cursor: pointer;
    font-weight: inherit;

    // these float, hence last-of-type
    &:last-of-type {
      margin-right: 8px;
    }

    &.active,
    &:hover {
      color: #f1f8ff;
      background-color: darken(#f1f8ff, 25%);
    }
  }

  input[type='radio'] {
    display: none;
  }
}

// align "centered to text
.pinned-item-meta svg.octicon,
button svg.octicon {
  vertical-align: sub;
}

.cv button.topic-tag {
  // remove seemingly available interaction
  cursor: default;

  // remove focus from dead tag-buttons
  &:focus {
    outline: none;
  }
}

// due to the hacks github uses to get details-dialog working...
dialog {
  left: 50%;
  top: 0;
  right: auto;
  margin: 10vh auto;
  max-height: 80vh;
  max-width: 90vw;
  position: fixed;
  transform: translateX(-50%);
  width: 448px;
  z-index: 999;
  padding: 0;

  &::backdrop {
    background: rgba(27, 31, 35, 0.5);
    z-index: 99;
  }

  & + .backdrop {
    background: rgba(27, 31, 35, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }

  &[open] {
    display: flex;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.has-icon-right svg {
  float: right !important;
  margin-left: 6px !important;
}

@media (min-width: 768px) {
  .pr-md-3 {
    padding-left: 16px !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 1280px) {
  .pr-xl-6 {
    padding-left: 40px !important;
    padding-right: 0 !important;
  }
}
